body{
    margin: 0;
    padding: 0;
    background-image: url("backfootwh.jpg");
    background-size: cover;
    font-family: "Gill Sans";
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: "Gill Sans";
}

.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn {
    position: relative;
    display: block;
    border-radius: 5px;
    color: whitesmoke;
    font-size: 25px ;
    font-family: "Gill Sans";
    text-decoration: none;
    margin: 30px 0;
    border: 5px solid #2ecc71;
    padding: 30px 100px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
}


.btn::before{
    background: #2ecc71;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1 ;
    transition: all 0.6s ease;
}

.btn1::before{
    width: 100%;
    height: 0%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.btn1:hover::before{
    height: 360%;
}

.btn2::before{
    width: 100%;
    height: 0%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.btn2:hover::before{
    height: 360%;
}

.title {
    font-size: 45px;
    margin-top: 12%;
    position: absolute;
    text-shadow: 2px 2px 3px cornflowerblue;
}

.navbar-brand img {
    height: 100%;
    margin-right: 20px;
}






