body{
    margin: 0;
    padding: 0;
    background-image: url("backfootwh.jpg");
    background-size: cover;
    font-family: "Gill Sans";
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: "Gill Sans";
}

.jumbotron{
    margin-left: 20%;
    margin-top: 5%;
}