body{
    margin: 0;
    padding: 0;
    background-image: url("backfootwh.jpg");
    background-size: cover;
    font-family: "Gill Sans";
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: "Gill Sans";
}

.messageWrong{
    font-weight: bold;
    color: firebrick;
    font-size: 25px;
    margin-left: 15%;

}

.jumbotron{
     margin-left: 20%;
     margin-top: 5%;
 }

.navbar-brand img {
    height: 100%;
    margin-right: 20px;
}
