<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>liste d'events</title>
    <link rel="stylesheet" type="text/css" href="eventFeed.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color: #fff0bd;">
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img class="img-responsive" width="180px" height="" src="/Logo.png"></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/search">Recherche</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create">Créer un évênement</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fas fa-user-ninja"></span> Compte
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/myEvents"><span class="far fa-calendar-alt"></span> Mes Events</a>
                            <a class="dropdown-item" href="/parameters"><span class="fas fa-cog"></span> Paramètres</a>
                            <a class="dropdown-item" href="/logout"><span class="fas fa-sign-out-alt"></span> Déconnexion</a>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <form class="col-12" method="post" th:action="@{/eventFeed}" th:object="${eventSelected}">
            <div class="card text-center col-8" style="margin-top: 2.5%" th:each="event: ${listEvent}">
                <div class="card-header">Evènement</div>
                <div class="card-body">
                   <h4> Date de l'évènement</h4>
                    <div class="row">
                        <div style="margin-left: 35%" th:text="${event.day}"></div>
                        &nbsp <div th:text="${event.month}"> </div>
                        &nbsp<div th:text="${event.year}"> </div>

                        &nbsp à &nbsp <div th:text="${event.hour}"></div>
                    H<div th:text="${event.minutes}"> </div>
                    </div>
                    <h4> Département </h4>
                    <p th:text="${event.department}">
                    <h4> Lieu du rendez-vous </h4>
                    <p th:text="${event.place}">
                    <h4> Nombre de participant </h4>
                    <p th:text="${event.numberOfParticipant}">
                    <h4> Type du sport </h4>
                    <p th:text="${event.typeOfSport}">
                    <h4> Niveau des joueurs </h4>
                    <p th:text="${event.level}">
                </div>
                <div class="card-footer text-muted">
                    <div>
                        <label class="form-check-label" for="checkBox1">Cocher la case pour participer</label>
                        <input type="checkbox" id="checkBox1"  th:value="${event.id}" th:field="*{id}">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success">Finaliser l'inscription</button>
                    </div>
                    <div class="container">
                        <span role="alert" th:text="${message}"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>