<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Se Connecter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<script src="https://kit.fontawesome.com/a076d05399.js"></script>-->
    <link rel="stylesheet" type="text/css" href="/connection.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body style="background-color: #6394FF; color: floralwhite;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img class="img-responsive" width="180px" height="" src="/Logo.png"></a>
    </nav>
    <form class="form" method="post" th:action="@{/login}" th:object="${user}">
    <div class="jumbotron col-6">
        <h1>Connection</h1>
        <div class="form-group">
            <label for="email" class="headinput">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required th:field="*{email}">
            <small id="emailHelp" class="form-text text-muted">Rentrer l'email que vous aviez rentré précédement</small>
        </div>
        <div class="form-group">
            <label for="password" class="headinput">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" required th:field="*{password}">
            <small id="emailHelp" class="form-text text-muted">Pas "azertyuiop" je vous en supplie</small>
        </div>
        <div class="container">
            <span class="messageWrong" role="alert" th:text="${message}"></span>
        </div>
        <button type="submit" class="btn btn-primary">Se Connecter</button>

    </div>
    </form>
</body>
</html>
