<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recherche d'event</title>
    <link rel="stylesheet" type="text/css" href="/search.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"> <img class="img-responsive" width="180px" height="" src="/Logo.png"></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/search">Recherche</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create">Créer un évênement</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <span class="fas fa-user-ninja"></span> Compte
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/myEvents"><span class="far fa-calendar-alt"></span> Mes
                                Events</a>
                            <a class="dropdown-item" href="/parameters"><span class="fas fa-cog"></span> Paramètres</a>
                            <a class="dropdown-item" href="/logout"><span class="fas fa-sign-out-alt"></span>
                                Déconnexion</a>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron col-3">
        <h2>Recherche par sport</h2>
        <div class="container">
            <label> Choisissez un sport</label>
            <form class="8" method="post" th:action="@{/search}">
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="valueSport" id="Football" value="Football" checked>
                    <label class="custom-control-label" for="Football">Football</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="valueSport" id="Tennis" value="Tennis">
                    <label class="custom-control-label" for="Tennis">Tennis</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="valueSport" id="Rugby" value="Rugby">
                    <label class="custom-control-label" for="Rugby">Rugby</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="valueSport" id="Volley-Ball" value="Volley-Ball">
                    <label class="custom-control-label" for="Volley-Ball">Volley-Ball</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="valueSport" id="Handball" value="Handball">
                    <label class="custom-control-label" for="Handball">Handball</label>
                </div>
                <div class="container">
                    <span role="alert" th:text="${message}"></span>
                </div>
                <button type="submit" class="btn btn-primary" style="margin-top: 15px">Rechercher</button>
            </form>
        </div>
    </div>

</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>